<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:replace="~{nav.html::navbar}"></div>

<div class="card" th:each="i: ${items} ">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}">바지</h4>
        <a th:href ="@{'/detail/'+${i.id}}">링크</a>
        <p th:text="${i.price + '원'}">7억</p>
        <a th:href="@{'/edit/' + ${i.id}}" >✏️</a>
        <span th:onclick="fetch('/item?id= [[${i.id}]]', { method : 'DELETE' } )
            .then(r => r.text())
            .then(() => {
                location.reload();
            })


">🗑️</span> <!--delete 요청시 body 는 잘 전달이 안됌 -->     <!-- .then() 붙이면 ajax 요청 완료시 코드실행 가능-->
    </div>   <!-- 서버에서 보내주는 자료가 array, map 이다 그럼 json 서버에서 보내주는 자료가 문자다 그럼 text -->
</div>
<button class="btn">버튼</button>

<script>
    document.querySelectorAll('.btn')[0].addEventListener('click', function(){
            fetch('/test1', {
            method : 'POST',
            headers : {'Content-Type' : 'application/json'},
            body : JSON.stringify({name:'kim'})
        })
    })
</script>

</body>
</html>